@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Importing typefaces from Google Fonts */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --grey-900: #101010;
    --grey-800: #202020;
    --grey-600: #707070;
    --grey-400: #aaaaaa;
    --grey-200: #e0e0e0;
    --grey-100: #fbfbfb;
    --lh-150: 150%;
    font-size: 1rem;
    font-weight: 400;
}
body{
    display: flex;
    flex-direction: column;
    background-color: var(--grey-900);
    color: var(--grey-400);
    font-family: "Inter", sans-serif;
}
/* NAVIGATION MENU */
header{
    width: 100%;
    max-height: 120px;
    background-color: var(--grey-800);
    z-index: 10;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 40px;
    background-color: var(--grey-900);
    border-bottom: 1px solid var(--grey-400);
}
h1{
    font-family: "Lora", serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    color: var(--grey-200);
}
.show-web{
    min-width: 208px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.show-web i{
    font-size: 21px;
    transition: color 0.3s ease;
}
.show-web p{
    font-size: 1.125rem;
    transition: color 0.3s ease;
}
.show-web:hover{
    cursor: pointer;
}
.show-web:hover .fa-eye{
    color: var(--grey-200);
}
.show-web:hover .fa-eye-slash{
    color: var(--grey-200);
}
.show-web:hover p{
    color: var(--grey-200);
}
.instruction{
    cursor: default;
    color: var(--grey-600);
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 6px;
}
/* MAIN CONTENT */
#web-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

main{
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: 0.5rem;
}
.image-card{
    position: absolute;
    width: fit-content;
    height: fit-content;
    background-color: var(--grey-900);
    cursor: pointer;
}
.image-card img{
    filter: saturate(0);
}
.image-1{
    top: 64px;
    left: 400px;
}
.image-1 img{
    width: 170px;
}
.image-2{
    top: 120px;
    left: 60px;
}
.image-2 img{
    width: 260px;
}
.image-3{
    top: 384px;
    left: 40px;
}
.image-3 img{
    width: 320px;
}
.image-4{
    top: 48px;
    right: 400px;
}
.image-4 img{
    width: 462px;
}
.image-5{
    top: 360px;
    left: 480px;
}
.image-5 img{
    width: 340px;
}
.image-6{
    top: 78px;
    right: 56px;
}
.image-6 img{
    width: 230px;
}
.image-7{
    top: 408px;
    right: 40px;
}
.image-7 img{
    width: 488px;
}


/* Popup background overlay */
.popup{
    width: 100%;
    height: 100%;
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99; /* Make sure it’s on top */
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px); 
}
/* Popup content */
.popup-content{
    position: relative;
    width: 1130px;
    height: 640px;
    margin: 24px;
    background-color: var(--grey-800);
    border: 0.5px solid var(--grey-400);
    border-radius: 12px;
    overflow-y: scroll;
}
.image-frame{
    width: 100%;
    height: 304px;
    background-color: #000;
}
.close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    z-index: 100;
}
.image-frame img {
    /* filter: saturate(0); disable comment for BW popUpImage */
    opacity: 0.6;
    object-fit: cover;
    object-position: 0px -180px;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.content-frame{
    padding: 40px 115px 48px 115px;
}

.content-frame h2 {
    font-size: 1.75rem;
    color: #ddd;
    margin-bottom: 16px;
}
.content-frame p{
    color: var(--grey-100);
    font-size: 1.125rem;
    margin: 16px 0;
    line-height: var(--lh-150);
}
.content-frame span{
    color: var(--grey-400);
}








/* FOOTER */
footer{
    background-color: #151515;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px;
}
.left-content img{
    width: 140px;
    opacity: 60%;
}
.right-content a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--grey-400);
    transition: all 0.3s ease;
}
.right-content a i{
    font-size: 1.5rem;
}
.right-content a:hover{
    color: var(--grey-200);
}


/* custom css scrollbar */
::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #e0e0e0;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
